@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,400&display=swap');

*{
    font-family: "Poppins",sans-serif;
}

body{
    background-color: #263F6B;
}

#i_title{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

#div_form{
    background-color: white;
    width: 400px;
    text-align: center;
    padding: 25px;
    margin: 10px;
    border-radius: 20px;
}

.span_text{
    color: #333;
}

.input_informacao{
    width: 200px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(212, 210, 210);
}

#button_botao{
    background-color: #f07f39;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#button_botao:hover{
    background-color: #cf6b2d ;
}

#div1{
    font-size: 20px;
    color: white;
    text-align: center;
}

.principal{
    display: flex;
    justify-content: center;
}
